{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>项目情况</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href={% static "css/font.css" %}>
    <link rel="stylesheet" href={% static "css/xadmin.css" %}>
    <script type="text/javascript" src="{% static 'js/jquery.js'%} "></script>
    <script type="text/javascript" src={% static "lib/layui/layui.js" %} charset="utf-8"></script>
    <script type="text/javascript" src={% static "js/xadmin.js" %}></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body class="layui-anim layui-anim-up">

<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="#">首页</a>
          <a href="">{{ type }}</a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>




{% if role == 0 %}
<div class="x-body">
    <table class="layui-hide" id="rank" lay-filter="demo"></table>
</div>
{% elif role == 1 %}
<div class="x-body">
    <table class="layui-hide" id="rank" lay-filter="demo"></table>
</div>
{% else %}
test1
{% endif %}

<script>
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#rank'
            ,url:'/api/rank'
            ,cols: [[
                {type:'checkbox'}
                ,{field:'username', width:200, title: '用户名',sort: true,}
                ,{field:'score', width:80, title: '成绩',sort: true, }
                ,{field:'time', title: '最新时间',sort: true,}

            ]]
            ,page: true
        });
    });
</script>



</body>